*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-image:url("Images//b13.jpg");
    min-height:100vh;
    background-size:100% auto;
    background-position:center;
    background-repeat:inherit;
    margin-top:200px;
}