::-webkit-scrollbar {
  display: none;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #28282b;
  align-items: center;
  color: white;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.maleesha {
  border-radius: 30px;
  padding-top: 12px;
  padding-right: 20pxpx;
  padding-bottom: 12px;
  padding-left: 12px;
}
.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 10px 10px;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card {
  box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.2);
  background-color: #28282b;
  border-radius: 20px;
  border-style: solid;
  border-color: yellow;
}
.container {
  padding: 0 50px;
}
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  color: red;
  font-size: 25px;
}
.description {
  font-size: 25px;
}
.row {
  text-align: center;
}
.h2 {
  text-align: center;
}
